fastapi
pydantic
pydantic-settings
uvicorn
pandas
numpy
scikit-learn
xgboost
pyaudio
# pickle5
wave
requests
simpleaudio
webrtcvad
langchain_groq
langchain_core
langchain
psycopg
python-dotenv
websockets
python-multipart